[submodule "docs/coding-standards"]
	path = docs/coding-standards
	url = git@github.com:XsafiD/flask-coding-standards.git
[submodule "docs/xsadev-ui"]
	path = docs/xsadev-ui
	url = git@github.com:XsafiD/xsadev-kit.git
